{{#if success_msg}}
<br>
    <div class="container mt-4 index">
        <div class="alert alert-success">{{success_msg}}</div>
    </div>
{{/if}}
{{#if error_msg}}
<br>
    <div class="container mt-4 index">
        <div class="alert alert-danger">{{error_msg}}</div>
    </div>
{{/if}}