<navclass="navbar navbar-light justify-content-center" style="text-align: center;">
  <div style="height: 50px;" class="container">
    <a style="font-size: 28px;color:black" class="navbar-brand" href="/">NotePad</a>
  </div>
</nav>