<style>
html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}

.bg {
    background-color: black;
    height: 100%;
}

.pos {
    position: relative;
    top: 40px;
}

::-webkit-scrollbar-track {
    background-color: #dddddd
}
::-webkit-scrollbar {
    width: 13px;
    border-radius: 40px;
    background: rgb(211, 18, 185);
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888688;
}

.cardT {
    width: 400px;
    margin: 0 auto;
    position: relative;;
    top: 50px;
    height: 350px;
    -webkit-box-shadow: 0px 2px 17px 5px rgba(0,0,0,1);
  }
</style>
<div class="bg"> 
{{>_msg}}
<div style="width: 500px;margin: 0 auto;height: 550px;-webkit-box-shadow: 0px 2px 17px 5px rgba(0,0,0,1);" class="card pos">
    <div class="card-body">
        <form action="/note/new" method="post">
            <label for="title">Title: </label>
                <input type="text" name="title" class="form-control" required>
            <label for="description">Description: </label>
                <input type="text" name="description" class="form-control" required>
            <label for="content">Content: </label>
                <textarea style="height: 200px;" name="content" class="form-control" required></textarea>
            <label for="slug">Slug: </label>
                <input type="slug" name="slug" class="form-control" required>
            <button type="submit" class="btn btn-success mt-4">Create</button>
        </form>
    </div>
</div>
</div>



