<style>
    .bg{
        background-color: black;
        color: white;
    }
</style>
<div class="bg">
<div class="container bg">
    <div class="card bg">
        <div class="card-body">
            <h1>{{notes.title}}</h1>
            <hr>
            <small>Description: {{notes.description}}</small><br>
            <small>Date - {{notes.date}}</small>
            <hr>
            {{notes.content}}
        </div>
    </div>
</div>
</div>